<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ethereum.dao.PunishInfoDao">

    <resultMap id="PunishInfoMap" type="PunishInfo">
        <id property="id" column="id"/>
        <result property="deviceUid" column="device_uid"/>
        <result property="deviceName" column="device_name"/>
        <result property="ruleName" column="rule_name"/>
        <result property="ruleType" column="rule_type"/>
        <result property="punish" column="punish"/>
        <result property="punishStart" column="punish_start"/>
        <result property="punishEnd" column="punish_end"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="insertColumn">
        <trim suffixOverrides=",">
            <if test="deviceUid!=null">device_uid,</if>
            <if test="ruleName!=null">rule_name,</if>
            <if test="punish!=null">punish,</if>
            <if test="punishStart!=null">punish_start,</if>
            <if test="punishEnd!=null">punish_end,</if>
            <if test="status!=null">status,</if>
        </trim>
    </sql>
    <sql id="insertValue">
        <trim suffixOverrides=",">
            <if test="deviceUid!=null">#{deviceUid},</if>
            <if test="ruleName!=null">#{ruleName},</if>
            <if test="punish!=null">#{punish},</if>
            <if test="punishStart!=null">#{punishStart},</if>
            <if test="punishEnd!=null">#{punishEnd},</if>
            <if test="status!=null">#{status},</if>
        </trim>
    </sql>

    <insert id="insert" parameterType="PunishInfo">
        INSERT INTO punish_info
        (<include refid="insertColumn"/>)
        values
        (<include refid="insertValue"/>)
    </insert>

    <select id="selectAll" resultMap="PunishInfoMap">
        SELECT
        punish.*,
        rule.type as rule_type,
        device.device_name as device_name
        FROM punish_info as punish
        LEFT JOIN security_rule as rule on punish.rule_name=rule.name
        LEFT JOIN device_info as device on punish.device_uid=device.device_uid
        order by punish.id desc
    </select>

    <select id="selectAllByStatus" resultMap="PunishInfoMap">
        SELECT
        punish.*,
        rule.type as rule_type,
        device.device_name as device_name
        FROM punish_info as punish
        LEFT JOIN security_rule as rule on punish.rule_name=rule.name
        LEFT JOIN device_info as device on punish.device_uid=device.device_uid
        where punish.status=#{status}
    </select>

    <select id="selectFilter" parameterType="PunishInfo" resultMap="PunishInfoMap">
        SELECT
        punish.*,
        rule.type as rule_type,
        device.device_name as device_name
        FROM punish_info as punish
        LEFT JOIN security_rule as rule on punish.rule_name=rule.name
        LEFT JOIN device_info as device on punish.device_uid=device.device_uid
        <where>
            <trim suffixOverrides="and">
                <if test="id!=null">punish.id=#{id} and</if>
                <if test="ruleName!=null">punish.rule_name like ${ruleName} and</if>
                <if test="ruleType!=null">rule.type = ${ruleType} and</if>
                <if test="punish!=null">punish.punish = #{punish} and</if>
                <if test="status!=null">punish.status = #{status} and</if>
            </trim>
        </where>
        order by punish.id desc
    </select>

    <select id="selectById" resultMap="PunishInfoMap">
        SELECT
        punish.*,
        rule.type as rule_type,
        device.device_name as device_name
        FROM punish_info as punish
        LEFT JOIN security_rule as rule on punish.rule_name=rule.name
        LEFT JOIN device_info as device on punish.device_uid=device.device_uid
        where punish.id=#{id}
    </select>

    <select id="selectDevicePunishInfo" resultMap="PunishInfoMap">
        SELECT
        punish.*,
        rule.type as rule_type,
        device.device_name as device_name
        FROM punish_info as punish
        LEFT JOIN security_rule as rule on punish.rule_name=rule.name
        LEFT JOIN device_info as device on punish.device_uid=device.device_uid
        where punish.device_uid=#{deviceUid} and punish.status=1
    </select>

    <select id="selectByUnique" resultMap="PunishInfoMap">
        SELECT
        punish.*,
        rule.type as rule_type,
        device.device_name as device_name
        FROM punish_info as punish
        LEFT JOIN security_rule as rule on punish.rule_name=rule.name
        LEFT JOIN device_info as device on punish.device_uid=device.device_uid
        where punish.type=#{type} and punish.kick_out=#{kickOut}
    </select>

    <update id="update" parameterType="PunishInfo">
        UPDATE punish_info
        SET
        <trim suffixOverrides=",">
            <if test="deviceUid!=null">device_uid=#{deviceUid},</if>
            <if test="ruleName!=null">rule_name=#{ruleName},</if>
            <if test="punish!=null">punish=#{punish},</if>
            <if test="punishStart!=null">punish_start=#{punishStart},</if>
            <if test="punishEnd!=null">punish_end=#{punishEnd},</if>
            <if test="status!=null">status=#{status},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <update id="updateStatus">
        UPDATE punish_info
        SET status = #{status}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM
        punish_info
        WHERE id=#{id}
    </delete>

</mapper>